/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Jan-2014, 13:52:31
    Author     : Csaba_Valyi
*/
@import 'base';

@mixin link_font($font_size){
  font-size: $font_size;
}

.font{
  font-size: 14px;
}

.font:hover {
  @include link_font(20px);
  @include transition-property(font);
  @include transition-duration(0.2s);
  //@include transition-timing-function(ease-in);
}

.link_color:hover {
  background-color:#EEEEEE;
}