<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">sasscompass</h3>
</div>

<div class="jumbotron" id="box-shadow-custom-multiple">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img class="transition-example" id="width-duration" src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success font" ng-href="#">Splendid!</a></p>
</div>
<div class="videowrapper">
  <iframe width="560" height="315" src="//www.youtube.com/embed/50czRXFpX4U" frameborder="0" allowfullscreen></iframe>
</div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
